{% extends 'base.html' %}
{% load static %}
{% block main %}
<main class="main">
        <div class="allColumns">
            <section class="heading">
                <h1>Your Wishlist</h1>
                <p>Home / Wishlist</p>
            </section>
            <section class="columnscard">
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt="" />
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img class="user" src="{% static 'images/userorange.png' %}" width="" height="" alt="" />John
                                Doe</a>
                            <a href="#"><img class="calendar" src="{% static 'images/calendarorange.png' %}" width="" height=""
                                    alt="" />18 Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}





