{% extends 'base.html' %}
{% load static %}
{% block main %}
<main class="main">
        <section>
            <div class="blogDetail">
                <div class="author">
                    <img class="dp" src="{% static 'images/dp.png' %}" width="" height="" alt="" />
                    <h6>Author Name</h6>
                    <div class="date">
                        <img src="{% static 'images/calendarorange.png' %}" width="" height="" alt="" />
                        <p>18 Feb 2021</p>
                    </div>
                </div>
                <div class="recentBlogsDetail">
                    <div class="detail">
                        <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod Tempor Elit Incididunt
                            Do Eiusmod Tempor Elit Incididunt.</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in ted reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="imageText">
                            <img src="{% static 'images/surface-p1R-11mrtTM-unsplash.png' %}" width="" height="" alt="" />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in ted
                                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor
                                Incididunt.</p>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in ted reprehenderit in voluptate
                            velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit, sed tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiut aliquip ex
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="sharewith">
                            <p>Share with </p>
                            <a href="#"><img src="{% static 'images/whatsappcolor.png' %}" width="" height="" alt=""/></a>
                            <a href="#"><img src=" {% static 'images/facebookcolor.png' %}" width="" height="" alt=""/></a>
                            <a href="#"><img src="{% static 'images/twittercolor.png' %}" width="" height="" alt=""/></a>
                            <a href="#"><img src="{% static 'images/pintresscolor.png' %}" width="" height="" alt=""/></a>
                        </div>
                    </div>
                    <div class="recentBlogs">
                        <h1>RECENT BLOGS</h1>
                        <div class="blogimgtitle">
                            <img src="{% static 'images/brooke-cagle--uHVRvDr7pg-unsplash.png' %}" width="" height="" alt=""/>
                            <div>
                                <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod.</h1>
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Elit, Se Do....</p>
                                <a href="#"><span>Read More</span><img src="{% static 'images/arrow-pointing-to-right (1).png' %}" width="" height="" alt=""/></a>
                            </div>
                        </div>
                        <div class="blogimgtitle">
                            <img src="{% static 'images/brooke-cagle--uHVRvDr7pg-unsplash.png' %}" width="" height="" alt=""/>
                            <div>
                                <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod.</h1>
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Elit, Se Do....</p>
                                <a href="#"><span>Read More</span><img src="{% static 'images/arrow-pointing-to-right (1).png' %}" width="" height="" alt=""/></a>
                            </div>
                        </div>
                        <div class="blogimgtitle">
                            <img src="{% static 'images/brooke-cagle--uHVRvDr7pg-unsplash.png' %}" width="" height="" alt=""/>
                            <div>
                                <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod.</h1>
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Elit, Se Do....</p>
                                <a href="#"><span>Read More</span><img src="{% static 'images/arrow-pointing-to-right (1).png' %}" width="" height="" alt=""/></a>
                            </div>
                        </div>
                        <div class="blogimgtitle">
                            <img src="{% static 'images/brooke-cagle--uHVRvDr7pg-unsplash.png' %}" width="" height="" alt=""/>
                            <div>
                                <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod.</h1>
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Elit, Se Do....</p>
                                <a href="#"><span>Read More</span><img src="{% static 'images/arrow-pointing-to-right (1).png' %}" width="" height="" alt=""/></a>
                            </div>
                        </div>
                        <div class="blogimgtitle">
                            <img src="{% static 'images/brooke-cagle--uHVRvDr7pg-unsplash.png'%}" width="" height="" alt=""/>
                            <div>
                                <h1>Lorem Ipsum Dolor Sit Amet, Sed Do Eiusmod.</h1>
                                <p>Lorem Ipsum Dolor Sit Amet, Consectetur Elit, Se Do....</p>
                                <a href="#"><span>Read More</span><img src="{% static 'images/arrow-pointing-to-right (1).png' %}" width="" height="" alt=""/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}





