{% extends 'base.html' %}
{% load static %}
{% block main %}
<main class="main">

        <section class="detailPage">
            <diV class="category">
                <h1>Category</h1>
                <ul>
                    <li>
                        <a href="#">Arts & Photography</a>
                    </li>
                    <li>
                        <a href="#">Business</a>
                    </li>
                    <li>
                        <a href="#">Biography</a>
                    </li>
                    <li>
                        <a href="#">Children's Books</a>
                    </li>
                    <li>
                        <a href="#">Crime</a>
                    </li>
                    <li>
                        <a href="#">Fiction</a>
                    </li>
                    <li>
                        <a href="#">History</a>
                    </li>
                    <li>
                        <a href="#">Literature</a>
                    </li>
                    <li>
                        <a href="#">Non Fiction</a>
                    </li>
                </ul>
                <h1>Deals of the Day</h1>
                <div>
                    <img src="{% static 'images/shop-new-7.png' %}" width="" height="" alt="" />
                    <div class="dealsflex">
                        <div>
                            <h2>Donate A Book</h2>
                            <p>By Donald William</p>
                        </div>
                        <div>
                            <h3>$120.00</h3>
                            <del>$220.00</del>
                        </div>
                    </div>
                </div>
                <h1>Best Sellers</h1>
                <div class="bestbook">
                    <img src="{% static 'images/shop-new-7.png' %}" width="" height="" alt="" />
                    <div>
                        <h2>Donate A Book</h2>
                        <p>By Donald William</p>
                        <h3>$120.00</h3>
                        <del>$220.00</del>
                    </div>
                </div>
                <div class="bestbook">
                    <img src="{% static 'images/shop-new-7.png' %}" width="" height="" alt="" />
                    <div>
                        <h2>Donate A Book</h2>
                        <p>By Donald William</p>
                        <h3>$120.00</h3>
                        <del>$220.00</del>
                    </div>
                </div>
                <div class="bestbook">
                    <img src="{% static 'images/shop-new-7.png' %}" width="" height="" alt="" />
                    <div>
                        <h2>Donate A Book</h2>
                        <p>By Donald William</p>
                        <h3>$120.00</h3>
                        <del>$220.00</del>
                    </div>
                </div>
                <div class="bestbook">
                    <img src="{% static 'images/shop-new-7.png' %}" width="" height="" alt="" />
                    <div>
                        <h2>Donate A Book</h2>
                        <p>By Donald William</p>
                        <h3>$120.00</h3>
                        <del>$220.00</del>
                    </div>
                </div>
            </diV>
            <diV class="donatelife">
                <div class="quickView">
                    <div class="donate">
                        <img class="big" src="{% static 'images/shop-new-2.png' %}" width="" height="" alt="" />
                        <div class="multiimg">
                            <img src="{% static 'images/shop-new-3.png' %}" width="" height="" alt="" />
                            <img src="{% static 'images/shop-new-3.png' %}" width="" height="" alt="" />
                            <img src="{% static 'images/shop-new-3.png' %}" width="" height="" alt="" />
                        </div>
                    </div>
                    <div class="changelife">
                        <h1>Donate a Book, Change a Life</h1>
                        <h2>2200 PKR</h2>

                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>
                        <div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                sit
                                aspernatur aut. accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
                                enim
                                ipsam voluptatem quia voluptas sit aspernatur aut...</p>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Author</h5>
                            </div>
                            <div>
                                <h6>Donald Wliliam</h6>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Category</h5>
                            </div>
                            <div>
                                <h6>Non Fiction</h6>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Availability:</h5>
                            </div>
                            <div>
                                <h6 class="red">In Stock</h6>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Format:</h5>
                            </div>
                            <div>
                                <h6>Hardcover, Paperback</h6>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Language:</h5>
                            </div>
                            <div>
                                <h6>English</h6>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Quantity:</h5>
                            </div>
                            <div class="quantity">
                                <a href="#">-</a>
                                <p>2</p>
                                <a href="#">+</a>
                            </div>
                        </div>
                        <div class="shopdetail">
                            <div class="title">
                                <h5>Sub Total:</h5>
                            </div>
                            <div>
                                <h6>2200 PKR</h6>
                            </div>
                        </div>
                        <div class="buttonsdetail">
                            <button class="btn">Add to Cart</button>
                            <button class="btn">Add to Wishlist</button>
                        </div>
                        <button class="btn buyNow">Buy Now</button>
                        <div class="sharewith">
                            <p>Share with </p>
                            <a href="#"><img src="{% static 'images/whatsappcolor.png' %}" width="" height="" alt="" /></a>
                            <a href="#"><img src="{% static 'images/facebookcolor.png' %}" width="" height="" alt="" /></a>
                            <a href="#"><img src="{% static 'images/twittercolor.png' %}" width="" height="" alt="" /></a>
                            <a href="#"><img src="{% static 'images/pintresscolor.png' %}" width="" height="" alt="" /></a>
                        </div>
                    </div>
                </div>
                <div class="allReviews">
                    <div class="headerTabs">
                        <ul class="nav nav-tabs">
                            <li>
                                <a class="active btn" data-toggle="tab" href="#tab1">Reviews</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#tab2"> Description</a>
                            </li>
                            <li>
                                <a class="btn" data-toggle="tab" href="#tab3">Shipping Details</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active show">
                            <div class="namedetail">
                                <h2>All Reviews <span> 23</span></h2>
                            </div>
                            <div class="namedetail">
                                <div class="namedp">
                                    <img src="{% static 'images/dp1.png' %}" width="" height="" alt="" />
                                    <div>
                                        <h5>Jessica Smith </h5>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="detaildp">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad.</p>
                                    <div class="likeunlike">
                                        <div class="likeimg">
                                            <a href="#"><img src="{% static 'images/like.png' %}" width="" height="" alt="" />35</a>
                                            <a href="#"><img src="{% static 'images/dislike.png' %}" width="" height="" alt="" />5</a>
                                        </div>
                                        <h6>02 jan 2021</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="namedetail">
                                <div class="namedp">
                                    <img src="{% static 'images/dp1.png' %}" width="" height="" alt="" />
                                    <div>
                                        <h5>Jessica Smith </h5>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="detaildp">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad.</p>
                                    <div class="likeunlike">
                                        <div class="likeimg">
                                            <a href="#"><img src="{% static 'images/like.png' %}" width="" height="" alt="" />35</a>
                                            <a href="#"><img src="{% static 'images/dislike.png' %}" width="" height="" alt="" />5</a>
                                        </div>
                                        <h6>02 jan 2021</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="namedetail">
                                <div class="namedp">
                                    <img src="{% static 'images/dp1.png' %}" width="" height="" alt="" />
                                    <div>
                                        <h5>Jessica Smith </h5>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="detaildp">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad.</p>
                                    <div class="likeunlike">
                                        <div class="likeimg">
                                            <a href="#"><img src="{% static 'images/like.png' %}" width="" height="" alt="" />35</a>
                                            <a href="#"><img src="{% static 'images/dislike.png' %}" width="" height="" alt="" />5</a>
                                        </div>
                                        <h6>02 jan 2021</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="namedetail">
                                <div class="namedp">
                                    <img src="{% static 'images/dp1.png' %}" width="" height="" alt="" />
                                    <div>
                                        <h5>Jessica Smith </h5>
                                        <div class="rate">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="detaildp">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad. incididunt ut labore et
                                        dolore magna aliqua. Ut enim ad. incididunt ut labore et dolore magna aliqua. Ut
                                        enim ad.</p>
                                    <div class="likeunlike">
                                        <div class="likeimg">
                                            <a href="#"><img src="{% static 'images/like.png' %}" width="" height="" alt="" />35</a>
                                            <a href="#"><img src="{% static 'images/dislike.png' %}" width="" height="" alt="" />5</a>
                                        </div>
                                        <h6>02 jan 2021</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane fade">
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </diV>
        </section>
        <section class="newArrivals">
            <div class="heading">
                <h1>You may also Like</h1>
                <img src="{% static 'images/underheading.png' %}" width="" height="" alt="" />
            </div>
            <div class="carousel">
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt="" />
                    <h4>Donate A Book</h4>
                    <h6>By Donald William</h6>
                    <h5>$120.00</h5>
                    <p><del>$220.00</del></p>
                </div>
            </div>

        </section>
        <section class="subscribe">
            <div class="texts">
                <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
                <p>Enter your Email address to receive regular updates, as well as news on
                    upcoming events and specific offers.</p>
            </div>
            <div class="inputbutton">
                <input type="email" name="email" placeholder="Enter Email" />
                <button class="btn">Subscribe</button>
            </div>
        </section>
    </main>
{% endblock %}
