{% load static %}
<footer>
        <div class="leftfooter">
            <img class="logo" src="{% static 'images/logoorange.png'%} " width="" height="" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lorem ipsum elit, sed do
                dolore magna aliqua.</p>
            <div class="flexicons">
                <a href="#" class="facebook"><img src="{% static 'images/facebook-app-symbol_orange.png' %}" width="" height=""
                        alt="" /></a>
                <a href="#" class="google"><img src="{% static 'images/google-plus-orange.png' %}" width="" height="" alt="" /></a>
                <a href="#" class="pinterest"><img src="{% static 'images/pinterest-social-logo-orange.png' %}" width="" height=""
                        alt="" /></a>
                <a href="#" class="twitter"><img src="{% static 'images/twitter-orange.png' %}" width="" height="" alt="" /></a>
            </div>
        </div>
        <div class="rightfooter">
            <div>
                <h1>Categories</h1>
                <ul>
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Non Fiction</a></li>
                    <li><a href="#">Drama</a></li>
                    <li><a href="#">Thriller</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Children</a></li>
                </ul>
            </div>
            <div>
                <h1>Columns</h1>
                <ul>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                    <li><a href="#">Lorem Ipsum Dolar </a></li>
                </ul>
            </div>
            <div class="contactus">
                <h1>Contact Us</h1>
                <ul>
                    <li>
                        <img class="map" src="{% static 'images/maps-and-flags-orange.png' %}" width="" height="" alt="" />
                        <a href="#">Bookly-theme 1203 Town
                            CenterDrive FL 33458 USA</a>
                    </li>
                    <li>
                        <img class="emial" src="{% static 'images/envelope-orange.png' %}" width="" height="" alt="" />
                        <a href="#">Non Fiction</a>
                    </li>
                    <li><img class="phone" src="{% static 'images/phone-call-orange.png' %}" width="" height="" alt="" />
                        <a href="#">Drama</a>
                    </li>
                </ul>
            </div>
        </div>
        <h6 class="copyright">Copyright &copy 2021, Shaffaq Books</h6>
    </footer>