{% extends 'base.html' %}
{% load static %}
{% block main %}
    <main class="main">
        <section class="offers">
            <a href="#" class="individualoffer marginright">
                <img src="{% static 'images/freeshipping.png' %} " width="" height="" alt=""/>
                <h6>FREE SHIPPING</h6>
                <p>Free shipping on order over $100</p>
            </a>
            <a href="#" class="individualoffer marginright">
                <img src="{% static 'images/securepayment.png' %}" width="" height="" alt=""/>
                <h6>SECURE PAYMENT</h6>
                <p>We provide 100% Secure Payment</p>
            </a>
            <a href="#" class="individualoffer marginright">
                <img src="{% static 'images/bestprice.png' %}" width="" height="" alt=""/>
                <h6>BEST PRICE</h6>
                <p>We guarantee best price</p>
            </a>
            <a href="#" class="individualoffer">
                <img src="{% static 'images/freereturns.png' %}" width="" height="" alt=""/>
                <h6>FREE RETURNS</h6>
                <p>Within 30 Days returns</p>
            </a>
        </section>
        <section class="newArrivals">
            <div class="heading">
                <h1>NEW ARRIVALS</h1>
                <img src="{% static 'images/underheading.png' %} " width="" height="" alt=""/>
            </div>
            <div class="headerTabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="active btn" data-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab2">Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab3">Non Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab4">Fantasy</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab5">Science</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab6">Literature</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active show">
                    <div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <img class="bannertag" src="{% static 'images/bannertags.png' %}" width="" height=""
                                     alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab6" class="tab-pane fade">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <section class="newArrivals">
            <div class="heading">
                <h1>Featured New Release Books</h1>
                <img src="{% static 'images/underheading.png' %}" width="" height="" alt=""/>
            </div>
            <div class="headerTabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="active btn" data-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab2">Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab3">Non Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab4">Fantasy</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab5">Science</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab6">Literature</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active show">
                    <div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab6" class="tab-pane fade">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <section class="bookfastival">
            <div class="banner">
                <img src="{% static 'images/banner2.png' %}" height="" width="" alt="banner"/>
                <div class="cont">
                    <p>Shop wide range of collections</p>
                    <h1>BOOK FESTIVAL</h1>

                    <button class="btn">Shop Now</button>
                </div>
            </div>
        </section>
        <section class="newArrivals">
            <div class="heading">
                <h1>Best Sellers</h1>
                <img src="{% static 'images/underheading.png' %}" width="" height="" alt=""/>
            </div>
            <div class="headerTabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="active btn" data-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab2">Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab3">Non Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab4">Fantasy</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab5">Science</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab6">Literature</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active show">
                    <div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab6" class="tab-pane fade">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <section class="discount">
            <div class="banner">
                <img src="{% static 'images/banner3.png' %}" height="" width="" alt="banner"/>
                <div class="cont">
                    <p>Special Offers</p>
                    <h1>30% Discount on Life of the
                        Candle</h1>

                    <button class="btn">Shop Now</button>
                </div>
            </div>
        </section>
        <section class="newArrivals">
            <div class="heading">
                <h1>DAILY DEALS</h1>
                <img src="{% static 'images/underheading.png' %}" width="" height="" alt=""/>
            </div>
            <div class="headerTabs">
                <ul class="nav nav-tabs">
                    <li>
                        <a class="active btn" data-toggle="tab" href="#tab1">All</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab2">Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab3">Non Fiction</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab4">Fantasy</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab5">Science</a>
                    </li>
                    <li>
                        <a class="btn" data-toggle="tab" href="#tab6">Literature</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="tab1" class="tab-pane fade in active show">
                    <div>
                        <div class="carousel">
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-1.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-40.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                            <div class="arrivalcard">
                                <img src="{% static 'images/shop-new-71.png' %}" width="" height="" alt=""/>
                                <h4>Donate A Book</h4>
                                <h6>By Donald William</h6>
                                <h5>$120.00</h5>
                                <p>
                                    <del>$220.00</del>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab2" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab3" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab4" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab5" class="tab-pane fade">
                    <div>

                    </div>
                </div>
                <div id="tab6" class="tab-pane fade">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <section class="sectionrecentcolumn">
            <div class="heading">
                <h1>DAILY DEALS</h1>
                <img src="{% static 'images/underheading.png' %}" width="" height="" alt=""/>
            </div>
            <div class="recentcolumns">
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt=""/>
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img src="{% static 'images/userorange.png' %}" width="" height="" alt=""/>John
                                Doe</a>
                            <a href="#"><img src="{% static 'images/calendarorange.png' %}" width="" height="" alt=""/>18
                                Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt=""/>
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img src="{% static 'images/userorange.png' %}" width="" height="" alt=""/>John
                                Doe</a>
                            <a href="#"><img src="{% static 'images/calendarorange.png' %}" width="" height="" alt=""/>18
                                Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt=""/>
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img src="{% static 'images/userorange.png' %}" width="" height="" alt=""/>John
                                Doe</a>
                            <a href="#"><img src="{% static 'images/calendarorange.png' %}" width="" height="" alt=""/>18
                                Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
                <div class="arrivalcard">
                    <img src="{% static 'images/column.png' %}" width="" height="" alt=""/>
                    <div class="innercardmargin">
                        <div class="cardlineflex">
                            <a href="#"><img src="{% static 'images/userorange.png' %}" width="" height="" alt=""/>John
                                Doe</a>
                            <a href="#"><img src="{% static 'images/calendarorange.png' %}" width="" height="" alt=""/>18
                                Feb 2021</a>
                        </div>
                        <h4>Lorem Ipsum Dolar Sit consectetur
                            adipiscing </h4>
                        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor...</h6>
                        <button class="btn">Read More</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="subscribe">
            <div class="texts">
                <h1>SUBSCRIBE TO OUR NEWSLETTER</h1>
                <p>Enter your Email address to receive regular updates, as well as news on
                    upcoming events and specific offers.</p>
            </div>
            <div class="inputbutton">
                <input type="email" name="email" placeholder="Enter Email"/>
                <button class="btn">Subscribe</button>
            </div>
        </section>
    </main>
{% endblock %}


