{% extends 'base.html' %}
{% load static %}
{% block main %}
   <main class="main">
        <div class="wishlist">
            <section class="heading">
                <h1>Your Wishlist</h1>
                <p>Home / Wishlist</p>
            </section>
            <section class="products">
                <div class="productsTable">
                    <div class="productsTableHead">
                        <p class="productDetail">Product</p>
                        <p class="quantity">Title</p>
                        <p class="price">price</p>
                        <p class="total">total</p>
                        <p class="buy"></p>
                        <p class="remove"></p>
                    </div>
                    <div class="productsBody">
                        <div class="tableBodyRow">
                            <div class="productDetail">
                                <img src="{% static 'images/shop-new-table.png' %}" width="" height="" alt="" />
                            </div>
                            <div class="quantity">
                                <div class="qunatityInner">
                                    <h5>Donate a Book,
                                        Change a Life</h5>
                                </div>
                            </div>
                            <div class="price">
                                <p>$150</p>
                            </div>
                            <div class="total">
                                <p>$150</p>
                            </div>
                            <div class="buy">
                                <button class="btn"><img src="{% static 'images/buy-online-shop.png' %}" width="" height="" alt=""/> BUY</button>
                            </div>
                            <div class="remove">
                                <a href="#"><img src="{% static 'images/close-cross.png' %}" width="" height="" alt="" /></a>
                            </div>
                        </div>
                        <div class="tableBodyRow">
                            <div class="productDetail">
                                <img src="{% static 'images/shop-new-table.png' %}" width="" height="" alt="" />
                            </div>
                            <div class="quantity">
                                <div class="qunatityInner">
                                    <h5>Donate a Book,
                                        Change a Life</h5>
                                </div>
                            </div>
                            <div class="price">
                                <p>$150</p>
                            </div>
                            <div class="total">
                                <p>$150</p>
                            </div>
                            <div class="buy">
                                <button class="btn"><img src="{% static 'images/buy-online-shop.png' %}" width="" height="" alt=""/> BUY</button>
                            </div>
                            <div class="remove">
                                <a href="#"><img src="{%  static 'images/close-cross.png' %}" width="" height="" alt="" /></a>
                            </div>
                        </div>
                        <div class="tableBodyRow">
                            <div class="productDetail">
                                <img src="{% static 'images/shop-new-table.png' %}" width="" height="" alt="" />
                            </div>
                            <div class="quantity">
                                <div class="qunatityInner">
                                    <h5>Donate a Book,
                                        Change a Life</h5>
                                </div>
                            </div>
                            <div class="price">
                                <p>$150</p>
                            </div>
                            <div class="total">
                                <p>$150</p>
                            </div>
                            <div class="buy">
                                <button class="btn"><img src="{% static 'images/buy-online-shop.png' %}" width="" height="" alt=""/> BUY</button>
                            </div>
                            <div class="remove">
                                <a href="#"><img src="{% static 'images/close-cross.png' %}" width="" height="" alt="" /></a>
                            </div>
                        </div>
                        <div class="tableBodyRow">
                            <div class="productDetail">
                                <img src="{% static 'images/shop-new-table.png' %}" width="" height="" alt="" />
                            </div>
                            <div class="quantity">
                                <div class="qunatityInner">
                                    <h5>Donate a Book,
                                        Change a Life</h5>
                                </div>
                            </div>
                            <div class="price">
                                <p>$150</p>
                            </div>
                            <div class="total">
                                <p>$150</p>
                            </div>
                            <div class="buy">
                                <button class="btn"><img src="{% static 'images/buy-online-shop.png' %}" width="" height="" alt=""/> BUY</button>
                            </div>
                            <div class="remove">
                                <a href="#"><img src="{%  static 'images/close-cross.png' %}" width="" height="" alt="" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
